.*.*.swp
.*.*.swo
.gradle/
build/
.ipynb_checkpoints/
tags
app/static/uploads/
.idea/
.project
.pydevproject
.settings/
gradle/
gradlew
gradlew.bat
Rplots.pdf
Session.vim
__pycache__/
test/
test_data
app/static/uploads
.RData
.Rhistory
