.*.*.swp
.*.*.swo
.gradle/
build/
.ipynb_checkpoints/
app/static/uploads/
.idea/
.project
.pydevproject
.settings/
gradle/
gradlew
gradlew.bat
Rplots.pdf
Session.vim
__pycache__/
app/static/uploads
.RData
.Rhistory
test/data/datasets/
.*.swp
.Rproj.user
test/scripts/chlororaphis.log
test/scripts/dokdonia.log
test/scripts/neisseria.log
test/scripts/neisseria_small.log
.#*.*
app/config.py
mongopass.patch
