.*.*.swp
.*.*.swo
.gradle/
build/
.ipynb_checkpoints/
tags
app/static/uploads/
.idea/
.project
.pydevproject
.settings/
gradle/
gradlew
gradlew.bat
Rplots.pdf
Session.vim
__pycache__/
test/

nothing added to commit but untracked files present (use "git add" to track)
test_data
