<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<base target="_parent">
  <head>
    <meta charset='utf-8'></meta>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href={{ url_for('upload') }}>Submit new run</a></li>
            <li role="presentation"><a href={{ url_for("results") }}>Browse results</a></li>
            <li role="presentation"><a href={{ url_for("manual") }}>User manual</a></li>
          </ul>
        </nav>
      </div>
      <hr>
      {%  with messages = get_flashed_messages() %}
      {%  if messages %}
        {%  for message in messages %}
            <div class="alert alert-message text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
      {%  endif %}
      {%  endwith %}
      {% block body %}{% endblock %}
      <footer class="footer">
        <p style="margin-top: 10px">© 2020 - 2022 Max Planck Institute for Evolutionary Biology</p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </body>
</html>
