<p>
    <h2>Status:
        {{ job.overall_status }}
    </h2>
    {% if job.overall_status == "complete with warnings" %}
    <p>
        There have been warning or errors during the postprocessing of your results. Please inspect the logfile (out/rarefan.log) for details.
    </p>
    {% endif %}

    {% if job.stages['rarefan']['status'] in ['finished', 'complete'] %}
        <h3>RAYTs</h3>
        </br>
        <p>
        RAREFAN discovered {{job.stages['rarefan']['results']['counts']['rayts']}} RAYTs across all submitted genomes using tblastn with
        {{job.setup["query_rayt"]}} at an e-value threshold of {{job.setup["e_value_cutoff"]}}.
        </p>
        </br>
        <h3>Seed sequences</h3>
        <p>
            RAREFAN identified {{job.stages['rarefan']['results']['counts']['nmers']}} {{job.setup['nmer_length']}}bp long sequences  in the reference genome that
            occur more frequently than {{job.setup['min_nmer_occurrence']}} times.
            </br></br>
        </p>
        <h3>REP/REPINs</h3>
        <p>
            <table>
                <tr>
                    <th>REP/REPIN group</th>

                    <th>REP/REPIN count</th>
                </tr>
                {% for k, v in job.stages['rarefan']['results']['counts']['repins'].items() %}
                <tr>
                    <td>
                        {{key}}
                    </td>
                    <td>
                        {{value}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </br></br>
            {% endif %}
        </p>
    {% endif %}
</p>
