<p>
    <h2>Status:

        {{ job.overall_status }}
    </h2>
    {% if job.stages['tree']['results']['returncode'] == "2" %}
        <p>
            No genome phylogeny was calculated due to the small number of submitted genomes. RAREFAN only
            calculates a phylogeny for more than 4 genomes.
        </p>
    {% endif %}
    <% if job.stages['

    {% if job.stages['rarefan']['status'] in ['finished', 'complete'] %}
        <h3>RAYTs</h3>
        <p>
        RAREFAN discovered {{job.stages['rarefan']['results']['counts']['rayts']}} RAYTs across all submitted genomes using tblastn with
        {{job.setup["query_rayt"]}} at an e-value threshold of {{job.setup["e_value_cutoff"]}}.
        </p>
        </br>
        <h3>Seed sequences</h3>
        <p>
            RAREFAN identified {{job.stages['rarefan']['results']['counts']['nmers']}} {{job.setup['nmer_length']}}bp long sequences  in the reference genome that
            occur more frequently than {{job.setup['min_nmer_occurrence']}} times.
            </br></br>
        </p>
        <h3>REP/REPINs</h3>
        <p>
            {% if job.stages['rarefan']['results']['counts']['repins'] is mapping %}
            <table style="width:20%;">
                <tr>
                    <th>Group</th>
                    <th>Count</th>
                </tr>
                {% for k, v in job.stages['rarefan']['results']['counts']['repins'].items() %}
                <tr>
                    <td>
                        {{k}}
                    </td>
                    <td>
                        {{v}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            RAREFAN detected {{job.stages['rarefan']['results']['counts']['repins']}} REPs/REPINs in the reference genome.
            {% endif %}
            </br></br>
        </p>
    {% endif %}
</p>
