{% extends "base.html" %}
{% block head %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; min-height: 100px; width: 66%') }}
{% endblock %}
{% block body %}
    <h1>Upload your sequences to RAREFAN</h1>
    <p>
    <b>
        Note:
    </b>
    RAREFAN accepts the following filename extensions (the part after the "."): ".fasta", ".fastn", ".fn", ".fna", ".fas" for
    DNA sequence data files; ".faa", "fa" for amino acid sequence files (RAYTs), and ".nwk" for newik formatted tree files.
    </p>
    <p>
    {{ dropzone.create(action=url_for('upload')) }}
    {{ dropzone.load_js() }}
    {{ dropzone.config(redirect_url=url_for('submit'), custom_options='addRemoveLinks: true') }}
    </p>
<!--form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        <p>
            {{ upload_form.sequences.label }}
            {{ upload_form.sequences(size=32, title="Select files to upload. Include DNA sequence files to analyse for potential REPINs,\
amino acid sequence files (RAYTs) and tree files (.nwk) format for postprocessing and rendering the results graphs."  ) }}
            {%  for error in upload_form.sequences.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
            {%  endfor %}
            <br>
            {{ upload_form.upload(title="Click here start the upload.") }}
        </p>
    </form-->
{%  endblock %}